<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>FoodExpress - Online Delivery</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='1.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

  <header>
    <nav class="navbar">
      <div class="logo">
        <img src="{{ url_for('static', filename='0.png') }}" alt="Logo" class="logo-img">
        <span>Food Express</span>
      </div>
    </nav>
  </header>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

</body>
</html>


